<!-- 

+ 좌측 판넬 메뉴입니다. 모듈 형태로 제작되어 실시간으로 HTML 바인딩됩니다.
+ HTML 바인딩은 네이티브드로이드2의 <nd2-include>태그를 사용합니다.

-->
<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >
    
    <h4><strong>웹앱&amp;하이브리드앱</strong></h4>                    
    <hr>
    <ul data-role="listview" data-inset="false">
        <li data-role="list-divider">Menu</li>
    </ul>
    <ul data-role="listview" data-inset="false" data-icon="false">
        <li><a href="index.html" data-ajax='false' data-icon="false">홈</a></li>
        <li><a href="page_movie.html" data-ajax='false' data-icon="false">날씨</a></li>
        <li><a href="page_settings.html" data-ajax='false' data-icon="false">설정</a></li>
    </ul>

    <hr>
    <p>201712713 김주희 &copy;</p>
    
</div>

