<!-- 

+ 하단 툴바 메뉴입니다. 모듈 형태로 제작되어 실시간으로 HTML 바인딩됩니다.
+ HTML 바인딩은 네이티브드로이드2의 <nd2-include>태그를 사용합니다.

-->
<div class='row around-xs'>
    <div class='col-xs-auto'>
        <a href='index.html' data-ajax="false" id="btnHome" class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-home zmd-2x '></i>홈
        </a>
    </div>
    <div class='col-xs-auto'>
        <a href='page_movie.html' data-ajax="false" id="btnMovie" class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-sun zmd-2x'></i>날씨</a>
    </div>
    <div class='col-xs-auto'>
        <a href='page_settings.html' data-ajax='false'  id="btnSettings" class='ui-bottom-sheet-link ui-btn ui-btn-inline  waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-settings zmd-2x'></i>설정</a>
    </div>
</div>